<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Micropost" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Micropost</a></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class= "divider"></li>
            <% if user_signed_in? %>
            <li>
              <%= link_to current_user.name , edit_user_registration_path %>
            </li>
            <li>
              <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
            </li>
            <% else %>
              <li class="active">
              <%= link_to 'Sing Up', new_user_registration_path %>
            </li>
            <li>
              <%= link_to 'Sing In', new_user_session_path %>
            </li>
            <% end %>
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li class= "divider"></li>
            <li>
              <%= link_to 'Posts', posts_path %>
            </li>
            <li>
              <%= link_to 'Users', users_path %>
            </li>
          </ul>
        </section>
      </nav>
    <div class="row">
      <div class="columns large-12"></div>
        <% flash.each do |type, message| %>
        <div data-alert class="alert-box radius <%= flass_class(type) %>">
          <%= message %>
          <a href="#" class="close">&times;</a>
        </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>